<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcm.modules.diagnosis.oilwell.gtmjyc.dao.AbnormalGtmjDao">
    <!--查询功图面积数据列表(分页插件查询)-->
    <select id="queryByPageAll"  resultType="com.kcm.modules.diagnosis.oilwell.gtmjyc.vo.AbnormalGtmjVo">
        SELECT a.*,b.ORG_NAME FROM ABNORMAL_GTMJ a,CD_WELL_SOURCE b  WHERE  a.WELL_ID = b.WELL_NAME
    </select>

    <!-- 根据采油站名称和指定时间查询 -->
    <select id="selectByTimeAndOrg" resultType="com.kcm.modules.diagnosis.oilwell.gtmjyc.vo.AbnormalGtmjVo">
        SELECT a.*,b.ORG_NAME from ABNORMAL_GTMJ a, CD_WELL_SOURCE b
        <where>
            a.WELL_ID = b.WELL_NAME
            <if test="wellId!=null and wellId!=''">
                AND a.WELL_ID = #{wellId,jdbcType=VARCHAR}
            </if>
            <if test="checkTime!=null and checkTime!=''">
                AND a.PROD_DATE  = to_date(#{checkTime},'yyyy-MM-dd')
            </if>
        </where>
    </select>
</mapper>
